html {
  margin: 0;
  padding: 0;
  background-image: url(paper_texture.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-color: #ddd;
}

body {
  width: 80%;
  height: 80%; /*not sure this is doing anything*/
  margin: 0 auto; /*work out the margins*/
  font: 100%, "Myriad", sans-serif;
  background: rgba(0,0,0,0.0);
}

h1 {
  font-family: "Avenir Heavy", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  margin: 0 0 .5em;
  color: inherit;
  position: relative;
  padding: 30px 0px 30px 0px;
}

h2 {
  font-family: "Marion", serif;
  font-size: 1.5em;
  position: relative;
}

nav {
  text-align: center;
  font-family: "Avenir", sans-serif;
  font-size: 1.2em;
  position: relative;
  width: 100%;
}

a {
  font-family: "Marion", serif;
  font-size: 1.1em;
  position: relative;
}

a:link {
  color: black;
}

a:visited {
  color: grey;
}

a:hover {
  color:black;
}

h2 a {
  text-decoration: none;
}

div.feature {
  width: 100%;
  position: relative;
  margin: .15em .15em .15em .15em;
  padding: .25em;
  text-align: justify;

}

div.feature img {
  float:left;
  margin: inherit;
  border-style: solid;
  padding:inherit;
  width: 200px;
  height: auto;

}

div.feature p {
  text-align: justify;
  width: 100%;
  margin: 0;
  clear:both;
}

div.portProjL {
  float:left;
  height: auto;
  max-width: auto;
  margin: .15em .15em .15em .15em;
  padding: .15em;
  text-align: justify;
}

div.portProjR {
  float:right;
  height: auto;
  max-width: auto;
  margin: .15em .15em .15em .15em;
  padding: .15em;
  text-align: justify;
}

div.portProjL img {
  margin: inherit;
  border-style: solid;
  padding:inherit;
  width: 140px;
}

div.portProjR img {
  margin: inherit;
  border-style: solid;
  padding:inherit;
  width: 140px;
}

div.afterProj {
  clear:both;
}

img.port {
  width: 180px;
  float:left;
  margin: .15em .15em .15em .15em;
  padding: .15em;
}

p {
  line-height: 1.6;
  text-align: justify;
  width: 80%;
  margin: 0;
  margin-bottom: 1em;
}

table {
  width: 100%;
  text-align: left;
  vertical-align: middle;
  margin-bottom: .5em;
}

th.job {
  text-align: left;
  padding-right: .3em;
  padding-top: .2em;
  padding-bottom: .2em;
  vertical-align: middle;
}

th.role {
  font-style: italic;
  font-weight: normal;
  text-align: left;
  padding-right: .3em;
  padding-top: .2em;
  padding-bottom: .2em;
  vertical-align: middle;
}

th.date {
  text-align: right;
  padding-right: .3em;
  padding-top: .2em;
  padding-bottom: .2em;
  vertical-align: middle;
  white-space: nowrap;
}

td {
  padding-right: .3em;
  padding-top: .2em;
  padding-bottom: .2em;
  vertical-align: text-top;
}

td a {
  font-family: inherit;
  font-size: inherit;
  padding-right: .3em;
  padding-top: .2em;
  padding-bottom: .2em;
  vertical-align: text-top;
}

td.location {
  text-align: right;
}

td.desc {
  text-align: justify;
}

td.threeCol:nth-child(even) {
  text-align: center;
}

td.threeCol:last-child {
  text-align: right;
}

aside {
  line-height: normal;
  text-align: center;
  position: relative;
  font-style: italic;
  font-family: "Avenir Heavy", sans-serif;
  font-size: 1.5em;
  clear:both;
}
